___

<p style="text-align: center;"><img src="https://docs.google.com/uc?id=1lY0Uj5R04yMY3-ZppPWxqCr5pvBLYPnV" class="img-fluid" 
alt="CLRSWY"></p>

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#9d4f8c; font-size:100%; text-align:center; border-radius:10px 10px;">WAY TO REINVENT YOURSELF</p>

___

<img src=https://i.ibb.co/6gCsHd6/1200px-Pandas-logo-svg.png width="700" height="200">

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#060108; font-size:200%; text-align:center; border-radius:10px 10px;">Data Analysis with Python</p>

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#060108; font-size:150%; text-align:center; border-radius:10px 10px;">Session - 03</p>

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#4d77cf; font-size:200%; text-align:center; border-radius:10px 10px;">Pandas Series</p>

<a id="toc"></a>

## <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:150%; text-align:center; border-radius:10px 10px;">Content</p>

* [IMPORTING LIBRARIES NEEDED IN THIS NOTEBOOK](#0)
* [CREATING PANDAS SERIES](#1)
    * [Using Lists](#1.1)
    * [Using Numpy Arrays](#1.2)
    * [Using Dictionaries](#1.3)
    * [Using Scalar Value](#1.4)
* [DATA IN A SERIES](#2)
* [BASIC ATTRIBUTES & METHODS OF SERIES](#3)
* [INDEXING AND SLICING WÄ°TH PANDAS SERIES](#4)
* [Selection with Condition and Broadcasting](#5)
* [RECAP FOR SEVERAL SELECTING ATTRIBUTES](#6)
* [THE END OF THE SESSION-03](#7)

## <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:175%; text-align:center; border-radius:10px 10px;">Importing Libraries Needed in This Notebook</p>

<a id="0"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

Once you've installed NumPy & Pandas you can import them as a library:

In [2]:
import numpy as np
import pandas as pd

## <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:175%; text-align:center; border-radius:10px 10px;">Creating a Pandas Series</p>

<a id="1"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

Pandas series is a one-dimensional data structure. It can hold data of many types including objects, floats, strings and integers. You can create a series by calling pandas.Series(). A list, numpy array, dict can be turned into a pandas series. You should use the simplest data structure that meets your needs [Source](https://pythonbasics.org/pandas-series/). The axis labels are collectively called index. Labels need not be unique but must be a hashable type. The object supports both integer and label-based indexing and provides a host of methods for performing operations involving the index [Source](https://www.geeksforgeeks.org/creating-a-pandas-series/).

[SOURCE01](https://pandas.pydata.org/docs/reference/api/pandas.Series.html), [SOURCE02](https://www.datasciencemadesimple.com/create-series-in-python-pandas/), 
[SOURCE03](https://www.cbsecsip.in/2020/08/pandas-data-structure-series.html), 
[SOURCE04](https://towardsdatascience.com/pandas-series-a-lightweight-intro-b7963a0d62a2), 
[SOURCE05](https://www.educba.com/pandas-series/), 
[SOURCE06](http://www.rebellionrider.com/python-pandas-series-in-detail-part-1/), 
[SOURCE06](https://www.javatpoint.com/python-pandas-series), &
[SOURCE06](https://towardsdatascience.com/20-examples-to-master-pandas-series-bc4c68200324)<br>

In this lecture we will discuss how to create Pandas Series, use basic attributes of Series, index Pandas Series & be familiar with Pandas Dataframes.

**You can create a series by calling pandas. Series() . A list, numpy array, dict and scalar value can be turned into a pandas series.**

**``pd.Series(data=None, index=None, dtype=None, name=None, copy=False, fastpath=False)``**

One-dimensional ndarray with axis labels (including time series).

pd.Series(data=None, index=None, dtype=None, name=None, copy=False, fastpath=False)

In [3]:
labels = ['a', 'b', 'c']
my_list = [10, 20, 30]
arr = np.array([10, 20, 30])
d = {'a': 10, 'b': 20, 'c': 30}

### <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:150%; text-align:center; border-radius:10px 10px;">Using Lists</p>

<a id="1.2.1"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

**To turn a list into a series, all you have to do is:**

In [4]:
pd.Series(labels, name="Oguzhan")

0    a
1    b
2    c
Name: Oguzhan, dtype: object

In [5]:
pd.Series(my_list)

0    10
1    20
2    30
dtype: int64

In [6]:
pd.Series([10, 20, 30])

0    10
1    20
2    30
dtype: int64

By default it assigns an index. First it shows the index, then the element value.

### <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:150%; text-align:center; border-radius:10px 10px;">Using NumPy Arrays</p>

<a id="1.2.2"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

**You can create a series from a numpy ndarray.**

In [7]:
arr

array([10, 20, 30])

In [8]:
pd.Series(arr)

0    10
1    20
2    30
dtype: int32

### <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:150%; text-align:center; border-radius:10px 10px;">Using Dictionaries</p>

<a id="1.2.3"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

**If you have a dictionary, you can turn it into a series:**

In [9]:
d

{'a': 10, 'b': 20, 'c': 30}

In [10]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

It used the dictionary keys as index. The keys of the dictionary match with the Index values; hence, the default Index values have no effect.

In [14]:
pd.Series(d, index="d", "e", "f")  # 2. tanimlanan index olmasina ragmen ',' ile ayirmak yetmedi. indexing yaparken asagidaki gibi [] kullanilir.

SyntaxError: positional argument follows keyword argument (Temp/ipykernel_28216/2976746760.py, line 1)

In [17]:
pd.Series([10, 20, 30], ["d", "e", "f"])  # index yazmadim ama 2. position zaten index. direkt d yetmez data'yi([10, 20, 30]) da yeniden tanimlamali

d    10
e    20
f    30
dtype: int64

In [16]:
pd.Series(d, ["d", "b", "f"])  # yukarilarda tanimladigim b value'su ile geldi

d     NaN
b    20.0
f     NaN
dtype: float64

Note that the Index is first build with the keys from the dictionary. After this the Series is reindexed with the given Index values, hence we get all NaN as a result.

### <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:150%; text-align:center; border-radius:10px 10px;">Using Scalar Value</p>

<a id="1.2.4"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

**``Scalars``** are single values representing one unit of data, such as an integer or bool, as opposed to data structures like a list or tuple, which are composed of scalars.

If data is a scalar value, an index must be provided. The value will be repeated to match the length of index [Source](https://www.tutorialspoint.com/python_pandas/python_pandas_series.htm).

In [18]:
pd.Series(data="Birgul")

0    Birgul
dtype: object

In [19]:
pd.Series(data="Birgul", index=range(5))

0    Birgul
1    Birgul
2    Birgul
3    Birgul
4    Birgul
dtype: object

## <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:175%; text-align:center; border-radius:10px 10px;">Data in a Series</p>

<a id="2"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

**``A series``** is a **one-dimensional data structure**. A Series is very **similar to a NumPy array** (in fact it is built on top of the NumPy array object). **What differentiates** the NumPy array from a Series, is that a Series can **have axis labels**, meaning it can be indexed by a label, instead of just a number location. It also doesnât need to hold numeric data, it can hold any arbitrary Python Object [Source](http://www.datasciencelovers.com/python-for-data-science/pandas-series/).

So important point to remember for Pandas series is:

- Homogeneous data
- Size Immutable
- Values of Data Mutable

**A pandas Series can hold a variety of object types:**

In [20]:
set1 = (1, 2, 3, 6)
set1

(1, 2, 3, 6)

In [21]:
pd.Series(set1)

0    1
1    2
2    3
3    6
dtype: int64

Even functions (although unlikely that you will use this)

In [22]:
pd.Series([set, list, dict])

0     <class 'set'>
1    <class 'list'>
2    <class 'dict'>
dtype: object

In [23]:
pd.Series(set)[0]([2, 5, 7, 8, 2])  # sÃ¶zlÃ¼kte tekrarlama olmaz. burdaki [0] Ã¼stte tanimladigim 'set'. [1]=list, [2]=dict

{2, 5, 7, 8}

In [11]:
pd.Series([sum, print, len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

In [24]:
pd.Series([sum, print, len])[1]("Sam")  # 0 = sum, 1 = print, 2 = len

Sam

In [25]:
pd.Series([sum, print, len])[2]([1, 2, 3, 4])

4

In [26]:
mix_data = ["Jason", 15, True]

In [30]:
ser = pd.Series(mix_data)
ser

0    Jason
1       15
2     True
dtype: object

In [31]:
ser.dtype  # datanin tipi Object

dtype('O')

In [33]:
type(ser)

pandas.core.series.Series

In [38]:
type(ser[0])  # 0. -> Jason: string

str

In [39]:
type(ser[1])  # 1. -> 15: integer

int

In [40]:
type(ser[2])  # 2. -> True: boolen

bool

In [42]:
ser = pd.Series(mix_data)

print(ser)
print(ser.dtype)
print(type(ser))
print(type(ser[0]))
print(type(ser[1]))
print(type(ser[2]))
print(type(ser[3]))

0    Jason
1       15
2     True
dtype: object
object
<class 'pandas.core.series.Series'>
<class 'str'>
<class 'int'>
<class 'bool'>

KeyError: 3

[Reminder Source for Numpy Arrays](https://pythonguides.com/python-numpy-data-types/)

## <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:150%; text-align:center; border-radius:10px 10px;">BASIC ATTRIBUTES & METHODS OF SERIES</p>

<a id="3"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

**SOME COMMON ATTRIBUTES** [Official Pandas API Document](https://pandas.pydata.org/docs/reference/api/pandas.Series.html)<br>

**Series.dtype**	It returns the data type of the data.<br>
**Series.shape**	It returns a tuple of shape of the data.<br>
**Series.size**	    It returns the size of the data.<br>
**Series.ndim**	    It returns the number of dimensions in the data.<br>
**Series.index**	Defines the index of the Series.<br>
**Series.keys**  	Return alias for index.<br>
**Series.values**   Returns Series as ndarray or ndarray-like depending on the dtype.<br>
**Series.items**	Lazily iterate over (index, value) tuples.<br>
**Series.head**   	Return the first n rows.<br>
**Series.tail** 	Return the last n rows.<br>
**Series.sample**   Return a random sample of items from an axis of object.<br>
**Series.sort_index**  Sort Series by index labels.<br>
**Series.sort_values**  Sort by the values.<br>
**Series.isin**     Whether elements in Series are contained in values.<br>

In [44]:
ser = pd.Series(np.random.randint(0, 100, 7))
ser

0    38
1    72
2    79
3    19
4    51
5    69
6    66
dtype: int32

In [45]:
type(ser)

pandas.core.series.Series

In [46]:
ser.dtype

dtype('int32')

In [48]:
ser.shape

(7,)

In [49]:
ser.size

7

In [50]:
len(ser)

7

In [51]:
ser.ndim # boyut

1

In [52]:
ser.index

RangeIndex(start=0, stop=7, step=1)

In [53]:
list(ser.index) # yukaridaki sonucu daha detayli verir

[0, 1, 2, 3, 4, 5, 6]

In [54]:
for i in ser.values:
    print(i)

38
72
79
19
51
69
66

In [55]:
for i in ser.index:
    print(i)

0
1
2
3
4
5
6

In [56]:
print(*ser)

38 72 79 19 51 69 66

In [57]:
ser.items()  # lazy object olarak sonuc verdi. bu list icinde, for dÃ¶ngÃ¼sÃ¼ ile veya asterix * ile acilabilir

In [59]:
list(ser.items())  # key-value olarak getirdi

[(0, 38), (1, 72), (2, 79), (3, 19), (4, 51), (5, 69), (6, 66)]

In [60]:
for key, values in ser.items():
    print(f"Index : {key}, Value: {values}")

Index : 0, Value: 38
Index : 1, Value: 72
Index : 2, Value: 79
Index : 3, Value: 19
Index : 4, Value: 51
Index : 5, Value: 69
Index : 6, Value: 66

In [61]:
ser = pd.Series(data = np.random.randint(0, 25, 10), index = [i for i in "cbaefdgihj"])
ser

c    14
b     9
a    12
e    22
f     1
d     6
g    15
i    19
h     7
j     1
dtype: int32

In [63]:
ser.head(3)  # default olarak ilk 5' dÃ¶ner

c    14
b     9
a    12
dtype: int32

In [66]:
ser.tail(3)  # default olarak son 5'i dÃ¶ner

i    19
h     7
j     1
dtype: int32

In [83]:
ser.sample(4)  # her calistirmada seriden () ici kadar rastgele deger dÃ¶ner

1    81
4    30
3    30
0    70
dtype: int32

In [95]:
ser.sort_index()  # default olarak ascending yani artan sirada index dÃ¶ner

0    33
1    86
2    53
3    13
4     9
5    13
6    52
dtype: int32

In [94]:
ser.sort_index(ascending=False)

6    52
5    13
4     9
3    13
2    53
1    86
0    33
dtype: int32

In [96]:
ser.sort_values()  # default olarak ascending yani artan sirada values dÃ¶ner

4     9
3    13
5    13
0    33
6    52
2    53
1    86
dtype: int32

In [98]:
ser.isin([13])  # seride 13 var mi?

0    False
1    False
2    False
3     True
4    False
5     True
6    False
dtype: bool

In [100]:
[i for i in "clarusway"]

['c', 'l', 'a', 'r', 'u', 's', 'w', 'a', 'y']

In [101]:
pd.Series([i for i in "clarusway"])

0    c
1    l
2    a
3    r
4    u
5    s
6    w
7    a
8    y
dtype: object

In [ ]:
*******************************

In [87]:
# np.random.seed(seed=1) random degeri her zaman degismesin diye sabitliyorum.
ser = pd.Series(np.random.randint(0, 100, 7))

In [69]:
ser.shape[0] # elemean sayisini verir

7

## <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:150%; text-align:center; border-radius:10px 10px;">Indexing and Slicing with Pandas Series</p>

<a id="4"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

As stated and implemented by examples above, a Series is very similar to a NumPy array. What differentiates the NumPy array from a Series is that **a Series can have axis labels**, meaning it can be indexed by a label, instead of just a number location. It also doesnât need to hold numeric data, it can hold any arbitrary Python Object [Source](https://rpubs.com/pjozefek/659184).

The key to using a Series is understanding its index. Pandas makes use of these index names or numbers by allowing for fast look up of information.

The axis labeling information in pandas objects serves many purposes:

- Identifies data (i.e. provides metadata) using known indicators, important for analysis, visualization, and interactive console display.
- Enables automatic and explicit data alignment.
- Allows intuitive getting and setting of subsets of the data set.

In this section, we will focus on the final point: namely, how to slice, dice, and generally get and set subsets of pandas objects. The primary focus will be on Series and DataFrame as they have received more development attention in this area. For more information, please visit [pandas-docs.github.io](https://pandas-docs.github.io/pandas-docs-travis/user_guide/indexing.html)

Let's see some examples of how to grab information from a Series. Let us create two sereis, ser1 and ser2:

In [102]:
ser1 = pd.Series([1, 2, 3, 4], index = ['USA', 'Germany','USSR', 'Japan'])

In [103]:
ser2 = pd.Series([1, 2, 3, 4], index = ['USA', 'Germany','Italy', 'Japan'])

The two main data structures in pandas both have at least one axis. A **Series** has **one axis**, the index. A **DataFrame** has **two axes**, the index and the columns. Itâs useful to note here that in all the DataFrame functions that can be applied to either rows or columns, an axis of 0 refers to the index, an axis of 1 refers to the columns.

In [104]:
ser1

USA        1
Germany    2
USSR       3
Japan      4
dtype: int64

In [105]:
ser2

USA        1
Germany    2
Italy      3
Japan      4
dtype: int64

In [106]:
ser1.sort_index()

Germany    2
Japan      4
USA        1
USSR       3
dtype: int64

In [107]:
ser2.sort_values()

USA        1
Germany    2
Italy      3
Japan      4
dtype: int64

**We're going to start with the basic form of selecting, using the [ ] operator.**

If we donât introduce labels into our Series the index by default will be the natural numbers starting from 0. So the index will be the number of data introduced - 1.

In [108]:
ser1.index

Index(['USA', 'Germany', 'USSR', 'Japan'], dtype='object')

In [109]:
ser1.index[0]  # index'deki 0. degeri dÃ¶ner

'USA'

In [110]:
ser1[0]  # 0. index'deki degeri dÃ¶ner

1

In [111]:
ser1["USA"]  # yukaridaki ile ayni

1

In [112]:
ser2[4]  # bulamadi hatasi
         # --> index 0(USA), 1(Germany), 2(Italy), 3(Japan)

IndexError: index 4 is out of bounds for axis 0 with size 4

In [113]:
# hata verme, ... mesajini ver
try:
    print("The value of the fourth element in the Series:", ser2[4])
except IndexError as error:
    print("Nope, the index you selected is out of bounds. That's not how you select rows (index) in a Series.")

Nope, the index you selected is out of bounds. That's not how you select rows (index) in a Series.

As seen above, with a Series, the call will return a single scalar value that matches the value at that label in the index. If you pass in a value for a label that doesn't exist, you will get a KeyError raised. Also, if you pass in an integer and your index has that value, it will return it. But if you don't have an integer value in your index, it will return the value by position. This is convenient, but can be confusing.

**Let's see some slicing example with Series**

In [ ]:
ser2

In [ ]:
ser2[0]

In [ ]:
ser2[2:]

In [ ]:
ser2[::-1]

**Another huge pro of using labelled indexes is that you can perform operations between two different series and pandas know what labels have both series in common and does the addition automatically.**

Operations are then also done based on index:

In [21]:
ser1

USA        1
Germany    2
USSR       3
Japan      4
dtype: int64

In [22]:
ser2

USA        1
Germany    2
Italy      3
Japan      4
dtype: int64

In [23]:
ser1 + ser2

Germany    4.0
Italy      NaN
Japan      8.0
USA        2.0
USSR       NaN
dtype: float64

In [42]:
ser1.add(ser2, fill_value=0)

Germany    4.0
Italy      3.0
Japan      8.0
USA        2.0
USSR       3.0
dtype: float64

In [114]:
ser1 * ser2

0    a
1    b
2    c
3    d
dtype: object

**Let's make changes on indexes:**

In [118]:
panser = pd.Series(data = [121, 200, 150, 99], index = ["terry", "micheal", "orion", "jason"])
panser

terry      121
micheal    200
orion      150
jason       99
dtype: int64

In [119]:
panser.index

Index(['terry', 'micheal', 'orion', 'jason'], dtype='object')

In [120]:
panser[0]

121

In [121]:
panser["terry"]

121

In [125]:
index1 = ["micheal", "terry", "jason"]

In [126]:
panser[index1]

micheal    200
terry      121
jason       99
dtype: int64

In [127]:
panser[index1]

micheal    200
terry      121
jason       99
dtype: int64

## <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:150%; text-align:center; border-radius:10px 10px;">Selection with Condition and Broadcasting</p>

<a id="5"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

In [128]:
panser

terry      121
micheal    200
orion      150
jason       99
dtype: int64

In [129]:
"terry" in panser

True

In [133]:
"Ali" in panser

False

In [136]:
121 in panser.values  # attribut, values() seklinde yazilsa hata verirdi

True

In [137]:
34 in panser.values  # in condition

False

In [138]:
panser < 100  # boolen olarak dÃ¶ndÃ¼

terry      False
micheal    False
orion      False
jason       True
dtype: bool

In [141]:
panser[panser < 100]  # 100den kÃ¼cÃ¼k deger var mi

jason    99
dtype: int64

In [142]:
panser[panser < 100] = 999  # deger dÃ¶nmedi kalici degisiklik yapti

In [143]:
panser

terry      121
micheal    200
orion      150
jason      999
dtype: int64

In [145]:
panser.isin([121])  # "isin" metod, yukardaki "in" condition

terry       True
micheal    False
orion      False
jason      False
dtype: bool

In [146]:
panser[panser.isin([121])] = 999

In [147]:
panser

terry      999
micheal    200
orion      150
jason      999
dtype: int64

## <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:150%; text-align:center; border-radius:10px 10px;">Recap for Several Selecting Attributes</p>

<a id="6"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

In [148]:
panser

terry      999
micheal    200
orion      150
jason      999
dtype: int64

In [150]:
panser.items()

In [152]:
list(panser.items())  # yukariyi actim

[('terry', 999), ('micheal', 200), ('orion', 150), ('jason', 999)]

In [153]:
panser.index

Index(['terry', 'micheal', 'orion', 'jason'], dtype='object')

In [154]:
panser.values

array([999, 200, 150, 999], dtype=int64)

In [156]:
for index, values in panser.items():
    print(index, values)  # 3 yukariyi yine actim

terry 999
micheal 200
orion 150
jason 999

In [157]:
panser.keys()

Index(['terry', 'micheal', 'orion', 'jason'], dtype='object')

In [161]:
panser.sort_index()  # metod old. icin()

jason      999
micheal    200
orion      150
terry      999
dtype: int64

In [162]:
panser.sort_values(ascending=False)

terry      999
jason      999
micheal    200
orion      150
dtype: int64

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#9d4f8c; font-size:150%; text-align:center; border-radius:10px 10px;">The End of The Session - 03</p>

<a id="7"></a>
<a href="#toc" class="btn btn-primary btn-sm" role="button" aria-pressed="true" 
style="color:blue; background-color:#dfa8e4" data-toggle="popover">Content</a>

<p style="text-align: center;"><img src="https://docs.google.com/uc?id=1lY0Uj5R04yMY3-ZppPWxqCr5pvBLYPnV" class="img-fluid" 
alt="CLRSWY"></p>

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#9d4f8c; font-size:100%; text-align:center; border-radius:10px 10px;">WAY TO REINVENT YOURSELF</p>

___